.customScrollBar {
    position: absolute;
    right: 3px;
    width: 0px;
    /* height: 10%; */
    /* border: 1px solid red; */
    border-radius: 20px;
    overflow-y: hidden;
    background-color: #9e9e9e;
    transition: all 0.18s ease;
}